.content-container {
    padding: 20px;
}
.add-button {
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-button:hover {
    background-color: #45a049;
}
.books-table {
    width: 100%;
    border-collapse: collapse;
}
.books-table th, .books-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
.books-table th {
    background-color: #f2f2f2;
}
.edit-button {
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-button:hover {
    background-color: #007bb5;
}

.borrowed-books-heading {
    font-size: 24px;
    color: #333;
    background-color: #f2f2f2;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.books-header {
    font-size: 24px;
    color: #333;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
    background-color: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
